---
layout: default
title: Talks
---
{% block content %}
    <main>
      <h1>Talks</h1>

      <ul style="margin-bottom: 3em">
        <li><a href="#amqp">Scaling distributed applications with AMQP</a></li>
        <li><a href="#doctrine2">Doctrine 2 ORM</a></li>
        <li><a href="#capistrano">Deploying PHP applications with Capistrano</a></li>
      </ul>

      <h2 id="amqp">Scaling distributed applications with AMQP</h2>
      <p>An introductory talk about AMQP given on 26th of October, 2013 Webcamp Zagreb. This talks is in Croatian.</p>
      <div class='embed-container'><iframe src='http://www.youtube.com/embed/BnrLeYLjX8Y' frameborder='0' allowfullscreen></iframe></div>
      <div class="speakerdeck-embed" data-id="eeea33a02dd901312a2f02bd55941050" data-ratio="1.33333333333333"></div>

      <h2 id="doctrine2">Doctrine 2 ORM</h2>
      <p>Introduction to Doctrine 2 Object Relational Mapper given on May 9, 2013 at ZgPHP Meetup. This talk is in Croatian.</p>
      <div class='embed-container'><iframe src='https://player.vimeo.com/video/66249603' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
      <div class="speakerdeck-embed" data-id="d0c073102ec301317f09526995579415" data-ratio="1.41436464088398"></div>

      <h2 id="capistrano">Deploying PHP applications with Capistrano</h2>
      <p>How to use Capistrano for deploying non-Ruby applications. Given on Dec 6, 2012 at ZgPHP Meetup. This talk is in Croatian.</p>
      <div class='embed-container'><iframe src='https://player.vimeo.com/video/55463452' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
      <div class="speakerdeck-embed" data-id="9c5863f02ec20131dc7f66d07d2effc2" data-ratio="1.41436464088398"></div>
    </main>
{% endblock %}
{% block javascripts %}
    <script async src="//speakerdeck.com/assets/embed.js"></script>
{% endblock %}